<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/">
      <button class="issuerApp">Issuer App</button>
    </a>
    <a href="/subject">
      <button class="subjectApp">Subject App</button>
    </a>
    <a href="/audience">
      <button class="audienceApp">Audience App</button>
    </a>
    <hr>
      <h2>Get user to initiate connection to Metamask</h2>
        <ul>
          <li>Ensure Metamask is connected to Ethers.js</li>
        </ul>
        <button class="enableEthereumButton">Connect to Metamask</button>
        <h3>Account: <span class="showAccount"></span></h3>
        <h3>Chain ID: <span class="showChainId"></span></h3>
    <hr>
      <h2>Configure subject and audience DIDs</h2>
        <ul>
          <li>Set the Subject address to be used to generate the subject DID</li>
          <li>Set the Audience address to be used to generate the audience DID</li>
        </ul>
        <form id="configureAddresses">
          <p>Subject Address:</p>
          <input type="text" id="subjectAddress"/>
          <p>Audience Address:</p>
          <input type="text" id="audienceAddress"/>
          <br>
          <button>Confirm address</button>
        </form>
        <h3>Subject DID: <span id="subjectDID"></span></h3>
        <h3>Audience DID: <span id="audienceDID"></span></h3>
    <hr>
      <h2>Prepare JWT Token for Signing</h2>
        <ul>
          <li>Build the JWT message</li>
        </ul>
        <form id="prepareJWT">
          <p>Private Claim:</p>
          <input type="text" id="privateClaim"/>
          <br>
          <button>Build JWT Message</button>
        </form>
        <h3>Issuer DID: <span id="issuerDID"></span></h3>
    <hr>
      <h2>Sign JWT Token</h2>
        <ul>
          <li>Create a signing delegate for the connected account</li>
          <li>Sign the message with the delegate</li>
        </ul>
        <button id="signJWT">Sign JWT</button>
        <h3>Connected Metamask Account: <span id="connectedMetamaskAccount"></span></h3>
        <h3>Delegate Signer Account: <span id="delegateSigner"></span></h3>
        <h3>Delegate Signer Identifier: <span id="delegateSignerIdentifier"></span></h3>
        <h3>Signed JWT: <span id="signedJWT"></span></h3>
    <script src="javascripts/issuerBundle.js"></script>
  </body>
</html>
